*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}
:root{
    /* background-color */
    --bg-white:#ffff
    /* text-color */
    --vt:#eejjd4;
    --primary-text:#061738;
    --secondary-color:#60cd12;
    --light-color:#e2f6de;
    --dark-color:#03262c;
    --text-white:#ffff;
    --text-gray:#dee2e6;
    --anchor-color:#007aff;
    /* font font-family */
    --primary-font:'Barlow Condensed',sans-serif;
    --secondary-font:'Roboto',sans-serif;
}
body,html{
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}
h1,h2,h3,h4,
h5,h6,p{
    margin: 0;
}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
h2{
    font-size: 4.7rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-text);  
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
h3{
    font-size: 3.1rem;
    line-height: 1;
    font-weight: 700;
    color: var(--text-white);
}
h4{
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    color: var(--primary-text);
}
h5{
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 600;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
p{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li a{
    color: var(--text-white);
    
}
a,
a:active,
a:focus,
a:hover,
button{
    text-decoration: none;
    outline: 0;
}
a:hover,
button:hover{
    transition: all 0.3s ease-in;
}
/* sticy header */
::-webkit-scrollbar-track{
    background: var(--bg-white);
}
::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
}
.main-btn{
    position: absolute;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404,#5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight:600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}
.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}
section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 600;
    color:var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.about .banner-section,
.product .banner-section,
.gallery .banner-section,
.contact .banner-section{
    background: url(../images/banner-slide/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}
/* navber css */
.header{
    position: absolute;
    width: 100%;
    top:2rem;
    left:0;
    z-index: 2;
}
.header .navbar{
    background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
}
.header .navbar-brand img{
    width: 7.5rem;
    margin-top: -0.1rem;
}
.header .navbar-nav .nav-link{
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 16px;
}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: var(--secondary-color);
}
.header .navbar-toggler {
    font-size: 18px;
    height: 31px;
    padding: 0;
    z-index: 7;
    background-color: var(--text-white);
    width: 39px;
}
.header .header-right span{
    color: var(--secondary-color);
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-right: 10px;

}
.header .header-right .phone-no{
    color: var(--text-white);
}
.header-scrolled{
    position: fixed;
    top:-0.4rem;
    left:0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}
 /* banner-section */
 .banner-section{
    background:url(../images/banner-slide/Banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
 }
 .banner-section .carousel-item{
    padding:  0;
    height: 100vh;
 }
 .banner-section .carousel-caption{
    top:30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
 }
 .banner-section .carousel-caption h3{
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    display: inline;

 }